.nav{
  display: flex;
  justify-content: space-around;
  color:black
}
ul {
  list-style-type: none;
}
h1{
  font-size: 45px;
  margin: 30px 0 5px 0;
  text-align: center;
  color:$blue;
  font-family: $font-esspecially;
}
.occupation {
  text-align: center;
  color:$blue;
  margin: 0 0 5px 0;
  font-size: 16px;
}
.quotation{
  text-align: center;
  color:$blue;
  margin: 50px 0 25px 0;
  font-size: 22px;
  font-family: $font-esspecially;
}

li{
  font-size: 25px;
  margin: 10px 1%;
  color: $blue
}
.link{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.border{
  border: 1px solid #ffd1e7;
  box-shadow: 0px 1px 3px #ffc6cd;
  margin: 2px 5%
}
.divDesktop{
  margin: 0 5%
}

