.nav{
  display: flex;
  justify-content: space-around;
}
ul {
  list-style-type: none;
}
h1{
  font-size: 45px;
  margin: 40px 0 10px 0;
  text-align: center;
}
.occupation {
  text-align: center;
  color:$bluegrey;
  margin: 10px 0 10px 0;
  font-size: 25px;
}

li{

  font-size: 25px;
  margin: 10px 0 10px 0;
}
.link{
  text-decoration: none;
  color: black;
}

