
.kartka{
  position: relative;
  font-family: $font-esspecially;
  font-size: 40px;

}
.tekst_na_obrazek_white {
  position: absolute;
  top:-100px;
  left: -100px;
  color: $white;
  text-align: center;
  font-family: $font-esspecially;
  font-size: 80%;
  width: 80vw
}
.tekst_na_obrazek_dark {
  position: absolute;
  top:100px;
  //left: 100px;
  color: black;
  font-family: $font-esspecially;
  font-size: 80%;
  text-align: center;
  width: 60vw

}


img {
  //opacity : 0.90;
  //filter : alpha(opacity=90);
}