
.kartka{
  position: relative;
  font-family: $font-esspecially;
  font-size: 40px;

}
.tekst_na_obrazek_dark {
  position: absolute;
  top: -150px;
  left: -250px;
  font-family: $font-esspecially;
  font-size: 60%;
width: 50vw;
}

.tekst_na_obrazek_white {
  position: absolute;
  bottom:-200px;
  right: -200px;
  text-align: center;
  color: $white;
  font-family: $font-esspecially;
  font-size: 20px
}
img {
  //opacity : 0.90;
  filter : alpha(opacity=90);
}