.subsiteP{
  margin: 0 3%;
  text-align: justify;
  font-size: 20px;
}
h2{
  margin: 2% 3%;
  text-align: left;
}
.space{
  margin-bottom: 15px;
}
.italic{
  font-style: italic;
}
.bold{
  font-weight: 700;
  margin: 0 0 0 3%;
}
.subsiteN{
  margin: 0;
  font-size: 20px;
}
p a {
  color: $grey
}
