div .subsiteP {
  margin: 1% 5%;
  text-align: start;
  font-size: 18px;
  //hyphens: auto;
  //word-wrap: break-word;
}

h2 {
  margin: 2% 3%;
  text-align: left;
}

.space {
  margin-bottom: 15px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;

}

//.subsiteN{
//   margin: 0;
//   font-size: 20px;
// }
p a {
  color: $grey
}
.sub1 {
  margin: 0 5%;
}
.sub {
  margin: 0 5%;
}

.contact {
  display: flex;
  margin-left: 3%;
}
