//div .subsiteP {
//  margin: 1% 15%;
//  text-align: start;
//  font-size: 18px;
//  //hyphens: auto;
//  //word-wrap: break-word;
//}
//div .subsiteK {
//  margin: 0 0 0 15%;
//  text-align: start;
//  font-size: 18px;
//  //hyphens: auto;
//  //word-wrap: break-word;
//}
//div .subsiteK1 {
//  margin: 1% 15% 0 15% ;
//  text-align: start;
//  font-size: 18px;
//  //hyphens: auto;
//  //word-wrap: break-word;
//}
//.subsiteH{
//  margin: 2% 5%;
//  text-align: left;
//}
.subsiteP1{
  margin: 1% 5%;

  font-size: 18px;
  //hyphens: auto;
  //word-wrap: break-word;
}
.space {
  margin-bottom: 15px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;

}

//.subsiteN{
//   margin: 0;
//   font-size: 20px;
// }
p a {
  color: $grey
}
.sub2 {
  margin: 2% 3%;
  text-align: left;
}
.sub1 {
  margin: 0 5%;
}
.sub {
  margin: 0 5%;
}

.contact {
  display: flex;
  margin-left: 3%;
}
